In [ ]:
print('Hi!')

Hi!

In [ ]:
# Getting String - input statement

name = input('Enter your Name : ')
print('hi ', name)

Enter your Name : sangeetha
hi  sangeetha

In [ ]:
# Getting Integer input statement
a = int(input('Enter the value for A : '))
print(type(a))
b = int(input('Enter the value for B : '))
print(type(b))
c = a+b
print(c)

Enter the value for A : 11
<class 'int'>
Enter the value for B : 22
<class 'int'>
33

In [ ]:
# Getting input - float
a = float(input('Enter the valu for A : '))
b = float(input('Enter the valu for B : '))
c = a+b
print(c)

Enter the valu for A : 10.5
Enter the valu for B : 20.4
30.9

In [ ]:
#Multiple Values in Single Line
name1,name2,name3=input('Enter 3 Names  : ').split()
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  : sam Matt Jessy
Name 1 :  sam
Name 2 :  Matt
Name 3 :  Jessy

In [ ]:
name1,name2,name3=input('Enter 3 Names  : ').split(',')
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  : Sam,Matt,Jessy
Name 1 :  Sam
Name 2 :  Matt
Name 3 :  Jessy

In [ ]:
import calendar

#ask of month and yeaR
year = int(input("Please Enter the year Number: "))
month = int(input("Please Enter the month Number: "))

print(calendar.month(year, month))

Please Enter the year Number: 2000
Please Enter the month Number: 3
     March 2000
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
# Find Area of Triangle based on Base and Height
print("Enter the Base Length of Triangle: ")
b = float(input())
print("Enter the Height Length Triangle: ")
h = float(input())
a = 0.5 * b * h
print("\nArea = ", a)

Enter the Base Length of Triangle:
4
Enter the Height Length Triangle:
5

Area =  10.0

In [ ]:
str = "BANANA"
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

B
A
N
A
N
A

In [ ]:
#looping through string
for x in 'BANANA':
    print(x)

B
A
N
A
N
A

In [ ]:
s = "life iS beaUtiful !!! "
print(s)

life iS beaUtiful !!!

In [ ]:
print(s.strip())

Life iS beaUtiful !!!

In [ ]:
print(type(s))

<class 'str'>

In [ ]:
print(len(s))

28

In [ ]:
print(s.upper())

      LIFE IS BEAUTIFUL !!!

In [ ]:
print(s.lower())

      life is beautiful !!!

In [ ]:
s = "life iS beaUtiful !!! "
print(s.capitalize())

Life is beautiful !!!

In [ ]:
print(s.title())

Life Is Beautiful !!!

In [ ]:
print (s.center(100))

                                       life iS beaUtiful !!!

In [ ]:
s = "life iS beaUtiful ha"
print('life' in s)
print('fast' in s)

True
False

In [ ]:
print(s.count("!"))

11

In [ ]:
print(s.endswith("ha"))

True

In [ ]:
s = "life iS beaUtiful ha"
print(s.find("f"))

2

In [ ]:
print(s.replace("l",'w'))

wife iS beaUtifuw ha

In [ ]:
a = 'life is beautiful !!!'
b = 'Live happily'
print("Concatenation : " + a + b)
print("Concatenation : " , a , b)

Concatenation : life is beautiful !!!Live happily
Concatenation :  life is beautiful !!! Live happily

In [ ]:
str = "PythonProgramming"
# Start Oth index to end
print(str[0:])

PythonProgramming

In [ ]:
# Starts 1th index to 4th index
print(str[1:5])

ytho

In [ ]:
# Starts 2nd index to 3rd index
print(str[2:4])

th

In [ ]:
# Starts 0th to 2nd index
print(str[:3])

Pyt

In [ ]:
#Starts 4th to 6th index
print(str[4:7])
print(str[0])
print(str[-1])

onP
P
g

In [ ]:
# string formatting

In [ ]:
# curly brackets
print('{} and {} are best friends'.format('Arun','vijay'))

Arun and vijay are best friends

In [ ]:
# positional arguements
print('{1} and {0} are best friends'.format('Arun','vijay'))

Arun and vijay are best friends

In [ ]:
# even or odd
num = int(input('Enter the number : '))

if num % 2 ==0:
  print('even : ', num)
else:
  print('odd : ',num)

Enter the number : 5
odd :  5

In [ ]:
# greatest of three numbers
a = int(input('Enter A : '))
b = int(input('Enter B : '))
c = int(input('Enter C : '))

if (a>b and a>c):
  print('A is bigger')
if(b>a and b>c):
  print('B is bigger')
if(c>a and c>b):
  print('C is bigger')

Enter A : 5
Enter B : 6
Enter C : 8
C is bigger

In [ ]:
print("Check the person is eligible to vote or not")
age=int(input("Enter your Age : "))

if age<18:
    print("Sorry, You are not eligible to Vote")
else:
    print("You are eligible to vote")

Check the person is eligible to vote or not
Enter your Age : 11
Sorry, You are not eligible to Vote

In [ ]:
print("Guess a Number: ")
num = input()

num = int(num)
if num>10 and num<20:
    print("\nCorrect Guess!")
else:
    print("\nIncorrect Guess!")

Guess a Number:
56

Incorrect Guess!

In [ ]:
regno = int(input("Enter Register no : "))
if regno in [101,105,109,106]:
    print("pass")
else:
    print("Fail")

Enter Register no : 103
Fail